@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Puppies+Play&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(130deg, rgba(79,173,230,1) 0%, rgba(166,20,198,1) 100%);
}

.kotak-besar-luar {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 75vh;
    padding: 30px 0;
    background-color: white;
}

.kotak-besar {
    width: 90%;
    /* height: 50vh; */
    display: flex;
    flex-direction: column;
    background-color: red;
}

.box {
    width: 100%;
    /* border: 1px solid black; */
}
.box-1 {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 8%;
    font-family: 'Poppins', sans-serif;
}
.box-1-atas {
    width: 100%;
}
.register {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
}
.box-1-bawah {
    width: 100%;
}
.box-kecil {
    width: 22px;
    height: 3.5px;
    border-radius: 1vh;
    background: linear-gradient(130deg, rgba(79,173,230,1) 0%, rgba(166,20,198,1) 100%);
}

.box-2 {
    height: 40%;
}

.tabel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 33.33333333333333%;
}

.tabel-1 {
    display: flex;
    justify-content: space-between;
}
.tabel-1-kiri {
    width: 47%;
    height: 100%;
}
.tabel-1-kiri-atas {
    width: 100%;
    height: 25%;
}
.name {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    letter-spacing: 0.5px;
}
.tabel-1-kiri-bawah {
    width: 100%;
    height: 75%;
}
.input-nama {
    padding: 0 10px;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 65%;
    border-radius: 0.8vh;
    margin-top: 5px;
    border: 1px solid grey;
}

.tabel-1-kanan {
    width: 47%;
    height: 100%;
}
.tabel-1-kanan-atas {
    width: 100%;
    height: 25%;
}
.username {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    letter-spacing: 0.5px;
}
.tabel-1-kanan-bawah {
    width: 100%;
    height: 75%;
}
.input-username {
    padding: 0 10px;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 65%;
    border-radius: 0.8vh;
    margin-top: 5px;
    border: 1px solid grey;
}
.tabel-2 {
    display: flex;
    justify-content: space-between;
}
.tabel-2-kiri {
    width: 47%;
    height: 100%;
}
.tabel-2-kiri-atas {
    width: 100%;
    height: 25%;
}
.email {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    letter-spacing: 0.5px;
}
.tabel-2-kiri-bawah {
    width: 100%;
    height: 75%;
}
.input-email {
    padding: 0 10px;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 65%;
    border-radius: 0.8vh;
    margin-top: 5px;
    border: 1px solid grey;
}
.tabel-2-kanan {
    width: 47%;
    height: 100%;
}
.tabel-2-kanan-atas {
    width: 100%;
    height: 25%;
}
.phone-number {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    letter-spacing: 0.5px;
}
.tabel-2-kanan-bawah {
    width: 100%;
    height: 75%;
}
.input-phone-number {
    padding: 0 10px;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 65%;
    border-radius: 0.8vh;
    margin-top: 5px;
    border: 1px solid grey;
}
.tabel-3 {
    display: flex;
    justify-content: space-between;
}
.tabel-3-kiri {
    width: 47%;
    height: 100%;
}
.tabel-3-kiri-atas {
    width: 100%;
    height: 25%;
}
.pass {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    letter-spacing: 0.5px;
}
.tabel-3-kiri-bawah {
    width: 100%;
    height: 75%;
}
.input-pass {
    padding: 0 10px;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 65%;
    border-radius: 0.8vh;
    margin-top: 5px;
    border: 1px solid grey;
}
.tabel-3-kanan {
    width: 47%;
    height: 100%;
}
.tabel-3-kanan-atas {
    width: 100%;
    height: 25%;
}
.confirm-pass {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    letter-spacing: 0.5px;
}
.tabel-3-kanan-bawah {
    width: 100%;
    height: 75%;
}
.input-confirm-pass {
    padding: 0 10px;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 65%;
    border-radius: 0.8vh;
    margin-top: 5px;
    border: 1px solid grey;
}

.box-3-atas {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    width: 100%;
    padding: 3px 0;
}
.box-3-bawah {
    display: flex;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    margin-top: 5px;
}
.isi-radio {
    font-family: 'Poppins', sans-serif;
    font-size: small;
    margin: 0 115px 2.5px 5px;
}
.box-4 {
    width: 100%;
    height: 10vh;
    background-color: green;
}
.bottom-register {
    font-family: 'Poppins', sans-serif;

    width: 100%;
    height: 45%;
    margin-top: 20px;
}