@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&family=Red+Hat+Display:wght@500&family=Satisfy&family=Sedgwick+Ave+Display&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #6D98A8;
}

.container {
  width: 100%;
  font-family: "Poppins", sans-serif;
}
.container nav {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 100px;
}
.container nav .logo {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 25px;
  display: flex;
}
.container nav .logo span {
  color: black;
  font-style: italic;
}
.container nav .logo span:nth-child(2) {
  color: var(--primary-color);
}
.container nav ul#navigasi {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  font-size: 15px;
}
.container nav ul#navigasi li {
  cursor: pointer;
}
.container nav ul#navigasi li select {
  font-size: 15px;
  padding: 5px;
  border: none;
  cursor: pointer;
}
.container nav ul#icons {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.container nav ul#icons li {
  color: black;
  font-size: 20px;
  cursor: pointer;
}
.container nav button {
  padding: 10px 20px;
  border: #6D98A8;
  border-radius: 7px;
  background-color: var(--primary-color);
  color: white;
  font-size: 15px;
  cursor: pointer;
}
.container main#awal {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 100px;
}
.container main#awal .box-deskripsi {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.container main#awal .box-deskripsi .judul h1 span {
  color: var(--primary-color);
}
.container main#awal .box-deskripsi p {
  margin-bottom: 50px;
}
.container main#awal .box-deskripsi .button {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.container main#awal .box-deskripsi .button button {
  width: 100px;
  padding: 5px 0;
  background-color: var(--primary-color);
  border: none;
  border-radius: 0 7px 0 7px;
  cursor: pointer;
}
.container main#awal img {
  height: 450px;
  z-index: -1;
}
.container .product {
  width: 100%;
  padding: 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  gap: 20px;
}
.container .product p#center {
  text-align: center;
  margin-bottom: 80px;
}
.container .product .box-product {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container .product .box-product .card {
  width: 24%;
  border: 1px solid green;
  border-radius: 2vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  gap: 2px;
}
.container .product .box-product .card .box-img {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.container .product .box-product .card .box-img i {
  font-size: 25px;
  position: absolute;
  top: 0;
  right: 0;
}
.container .product .box-product .card .box-img img {
  width: 100%;
}
.container .product .box-product .card .title-img {
  width: 100%;
  display: flex;
  justify-content: center;
}
.container .product .box-product .card .rating {
  display: flex;
  flex-direction: row;
  gap: 1px;
}
.container .product .box-product .card .rating i {
  color: gold;
}
.container .product .box-product .card .price {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.container .product .box-product .card .price p#price {
  font-size: 20px;
  color: var(--primary-color);
}
.container .product .box-product .card .price button {
  padding: 8px 15px;
  border: none;
  background-color: var(--primary-color);
  cursor: pointer;
  border-radius: 7px;
}
.container .box-see-more {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 100px;
}
.container .box-see-more button {
  display: flex;
  gap: 15px;
  padding: 10px 25px;
  border: 1px solid var(--primary-color);
  border-radius: 7px;
  background-color: transparent;
  color: var(--primary-color);
  cursor: pointer;
}
.container .categories {
  width: 100%;
  padding: 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.container .categories p#center {
  text-align: center;
  margin-bottom: 60px;
}
.container .categories ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container .categories ul li {
  border: 2px solid var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  border-radius: 5vh;
}
.container .categories ul li img {
  width: 40px;
  aspect-ratio: 1/1;
}
.container .comment {
  width: 100%;
  padding: 0 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.container .comment .box1 {
  width: 35%;
}
.container .comment .box1 img {
  width: 90%;
}
.container .comment .box2 {
  width: 55%;
  border: 1px solid black;
  border-radius: 2vh;
  padding: 40px 50px;
}
.container .comment .box2 .profile {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}
.container .comment .box2 .profile img {
  width: 60px;
  aspect-ratio: 1/1;
  border-radius: 7px;
  background-color: var(--primary-color);
}
.container .comment .box2 .profile .title {
  display: flex;
  flex-direction: column;
}
.container .comment .box2 .profile .rating {
  display: flex;
  flex-direction: column;
}
.container .comment .box2 .profile .rating .rating-star {
  display: flex;
  flex-direction: row;
  gap: 1px;
}
.container .comment .box2 .profile .rating .rating-star i {
  color: gold;
}
.container .comment .box2 p {
  text-align: center;
}
.container .comment .box3 {
  width: 5%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container .comment .box3 i {
  width: 60px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  border-radius: 2vh;
  color: white;
  cursor: pointer;
  font-size: 20px;
}
.container .box-promo-sub {
  width: 100%;
  padding: 0 100px;
  margin-bottom: 50px;
}
.container .box-promo-sub .promo-sub {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid var(--primary-color);
  border-radius: 5vh;
  text-align: center;
  padding: 20px 40px;
  gap: 20px;
}
.container .box-promo-sub .promo-sub .box-input {
  border: 1px solid var(--primary-color);
  border-radius: 2vh;
  padding: 0 10px;
  padding: 0 20px;
}
.container .box-promo-sub .promo-sub .box-input input {
  padding: 15px 300px 15px 10px;
  border: none;
}
.container .box-promo-sub .promo-sub .box-input button {
  padding: 13px 40px;
  border-radius: 2vh;
  background-color: gold;
  border: none;
}
.container .about {
  width: 100%;
  padding: 0 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container .about .box1 {
  width: 40%;
}
.container .about .box1 .logo {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 25px;
  display: flex;
}
.container .about .box1 .logo span {
  color: black;
  font-style: italic;
}
.container .about .box1 .logo span:nth-child(2) {
  color: var(--primary-color);
}
.container .about .box4 {
  font-size: 20px;
}
.container .maps {
  width: 100%;
  padding: 0 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  padding-bottom: 5px;
}
.container .maps .box-left {
  width: 40%;
}
.container .maps .box-right {
  width: 47%;
  display: flex;
  justify-content: flex-end;
}
.container .maps .box-right img {
  width: 100%;
  height: 100%;
  border-radius: 2vh;
}
.container .copykanan {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  border-top: 1px solid black;
}

/*# sourceMappingURL=main.css.map */
