@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Onest:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

body {
  background-color: black;
  color: white;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
}
nav .box-left {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
}
@media screen and (min-width: 1024px) {
  nav .box-left {
    width: 80%;
  }
}
nav .box-left .bungkus {
  width: 33.3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  border: 2px solid white;
  border-radius: 5vh;
  padding: 2px 2.5px;
  gap: 2px;
}
nav .box-left .bungkus .value {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  border: 2px solid white;
  border-radius: 5vh;
  padding: 2.5px 2.5px 2.5px 10px;
}
nav .box-left .bungkus .value p {
  background-color: transparent;
}
nav .box-left .bungkus .value:hover {
  background-color: #262626;
}
nav .box-left .bungkus .home i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  aspect-ratio: 1/1;
  border: 1px solid white;
  background-color: white;
  color: black;
  border-radius: 50%;
  font-size: 15px;
}
nav .box-left .bungkus .portofolio p:nth-child(2) {
  background-color: gold;
  border-radius: 5vh;
  padding: 0 10px;
  color: black;
}
nav .box-left .bungkus .kategory p:nth-child(2) {
  background-color: red;
  border-radius: 5vh;
  padding: 0 10px;
  color: black;
}
nav .box-left .bungkus-kiri {
  flex-grow: 1;
}
nav .box-left .bungkus-kanan {
  display: none;
  width: 66.6%;
}
@media screen and (min-width: 1024px) {
  nav .box-left .bungkus-kanan {
    display: flex;
  }
}
nav .box-right {
  display: none;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
@media screen and (min-width: 1024px) {
  nav .box-right {
    display: flex;
  }
}
nav .box-right i {
  width: 35px;
  aspect-ratio: 1/1;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  border-radius: 50%;
  color: white;
}
nav .menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 35px;
  background-color: white;
  border-radius: 5vh;
  color: black;
}
@media screen and (min-width: 1024px) {
  nav .menu {
    display: none;
  }
}

section#profile {
  display: flex;
  align-items: center;
  padding: 0 25px;
  font-family: "Poppins", sans-serif;
}
section#profile .my-profile {
  flex-direction: column-reverse;
  display: flex;
  width: 100%;
  background-color: #849293;
  border-radius: 2vh;
  justify-content: space-between;
  padding: 80px 20px 20px;
}
@media screen and (min-width: 1024px) {
  section#profile .my-profile {
    flex-direction: row;
  }
}
section#profile .my-profile .kotak-nama {
  width: 75%;
}
section#profile .my-profile .kotak-nama h1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 4rem;
}
@media screen and (min-width: 1024px) {
  section#profile .my-profile .kotak-nama h1 {
    font-size: 2rem;
  }
}
section#profile .my-profile .kotak-nama h1 i {
  margin-left: 10px;
}
section#profile .my-profile .kotak-nama .box-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
section#profile .my-profile .kotak-nama .button {
  width: 35%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid white;
  border-radius: 5vh;
  padding: 0 10px;
}
section#profile .my-profile .kotak-nama .button button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 0;
  background-color: transparent;
  border: 1px solid transparent;
  color: white;
  font-family: "Poppins", sans-serif;
}
section#profile .my-profile .kotak-nama .button i {
  font-size: 25px;
}
section#profile .my-profile .box-profile {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
section#profile .my-profile .box-profile img {
  width: 180px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: black;
}
section#profile .my-profile .box-profile button {
  font-family: "Poppins", sans-serif;
  padding: 3px 15px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5vh;
}

/*# sourceMappingURL=main.css.map */
