* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    gap: 10px;
    padding-bottom: 10px;
    animation: tytyd forwards 1s infinite alternate;
    
}

.box {
    width: 100px;
    height: 100px;
    background-color: red;
}

@keyframes tytyd{
    25%{
        background-color: yellow;
    }
    50%{
        background-color: green;
    }
    75%{
        background-color: blue;
    }
    100%{
        background-color: purple;
    }
}

.box1 {
    transform: translate(70vh) rotate(360deg);
    transition: all 2s ease-in;
}
.box2 {
    transform: translate(55.5vh) rotate(-360deg);
    transition: all 2s ease-in;
}
.box3 {
    transform: translate(41vh) rotate(360deg);
    transition: all 2s ease-in;
}
.box4 {
    transform: translate(0vh) rotate(-360deg);
    transition: all 2s ease-in;
}
.box5 {
    transform: translate(14.5vh) rotate(360deg);
    transition: all 2s ease-in;
}